{{- define "const"}}
{{- $cfg := .Config -}}
{{- $enumName := .Name -}}
const (
{{- range $ei, $item := .Items }}
    {{ if not $cfg.NoComments -}}// {{$item.GetCodeName}} is {{ IA $enumName }} of type {{$item.GetName}}.{{- end}}
    {{$item.GetConstLine}}
{{- end}}
)
{{end -}}

{{- define "body"}}
{{- $enumName := .Name -}}

var ErrInvalid{{.Name}} = errors.New("not a valid {{.Name}} enum")

var _{{.Name}}Name = "{{- range $ei, $item := .Items -}}{{$item.GetName}}{{- end -}}"

{{ range $ei, $extend := .Extends -}}
{{$extend.GetExtendValueMap}}
func (x {{$enumName}}) {{$extend.Name}}() {{$extend.Type.String}} {
    if result, ok := _{{$enumName}}Map{{$extend.Name}}[x]; ok {
        return result
    }
    panic(ErrInvalid{{$enumName}})
}
{{- end}}

func (x {{.Name}}) String() string {
	if str, ok := _{{.Name}}MapName[x]; ok {
		return str
	}
	return fmt.Sprintf("{{.Name}}(%d)", x)
}

func (x {{.Name}}) IsValid() bool {
	_, ok := _{{.Name}}MapName[x]
	return ok
}

{{.GetNameMap}}

func Parse{{.Name}}(name string) ({{.Name}}, error) {
	if x, ok := _{{.Name}}NameMap[name]; ok {
		return x, nil
	}{{if .Config.NoCase }}
    if x, ok := _{{.Name}}NameMap[strings.ToLower(name)]; ok {
        return x, nil
    }{{- end}}
	return {{.Name}}(0), fmt.Errorf("%s is %w", name, ErrInvalid{{.Name}})
}

{{ if .Config.MustParse }}
func MustParse{{.Name}}(name string) {{.Name}} {
	val, err := Parse{{.Name}}(name)
	if err != nil {
		panic(err)
	}
	return val
}
{{end}}

{{ if .Config.Ptr }}
func (x {{.Name}}) Ptr() *{{.Name}} {
	return &x
}
{{end}}

{{ if .Config.Marshal }}
func (x {{.Name}}) MarshalText() ([]byte, error) {
	return []byte(x.String()), nil
}

func (x *{{.Name}}) UnmarshalText(text []byte) error {
	name := string(text)
	tmp, err := Parse{{.Name}}(name)
	if err != nil {
		return err
	}
	*x = tmp
	return nil
}
{{end}}

{{end -}}

